<!DOCTYPE html>
<html lang='en-EN'>

<head>

  <title>Лента работ</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='../static/styles.css' rel='stylesheet'>
  <link href='../static/src/icon.png' rel='icon' type='image/x-icon'>

</head>

<body>

  <div class='wrapper'>
  <header>
      <h1>Лента работ</h1>
  </header>

  <nav>
      <a href='/' title='Главная'>Главная</a>
      <a href='artists.html' title='Исполнители'>Исполнители</a>
      <a>Работы</a>
      <a href='requests.html' title='Заказы'>Заказы</a>
      {% if not authenticated %}
      <a href='login.html' title='Войти'>Войти</a>
      <a href='signup.html' title='Регистрация'>Регистрация</a>
      {% endif %}
      {% if authenticated %}
      <a href='profile.html' title='Профиль'>Профиль</a>
      <a href='logout.html' title='Выход'>Выход</a>
      {% endif %}
  </nav>

  <main>
    <div class='ad'>
      <p class='close' onclick='hideAd()'>x</p>
      <h3>Посетите наши курсы</h3>
      <img src='../static/src/ad.png' alt='Курсы'>
      <p>Только сейчас они доступны совершенно бесплатно!</p>
      <a href='https://skillbox.ru/' title='Курсы'><p class='button'>Посетить</p></a>
    </div>
    <div class='up up_hide'>
      <p>^</p>
    </div>
    <div class='section center'>
      <div class='center'>
        <br>
        <h2>Лента работ</h2>
        <p>Ниже представлены проекты, которые исполнители опубликовали в своих профилях после выполнения заказа или оказания услуги. Если вы хотите узнать больше о понравившемся проекте, нажмите на его карточку. На новой странице вы сможете ознакомиться со всей интересующей вас информацией!</p>
        <br>
        {% if authenticated %}
        {% if current_user.isartist %}
        <a href='post_work.html' title='Выложить работу' class='card'>Выложить работу</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <h2 class='outer-header'>Лента работ</h2>
    <div class='section center last'>
      <div class='center'>
        {% for el in works %}
        <a href='completes.html/{{el.id}}' title='Работа {{el.id}}'><div class='card boss'>
          <img src='{{el.url}}' alt='Кейс {{el.id}}'>
          <h3>{{el.name}}</h3>
          <p>Автор:
          {% for i in authors %}
              {% if el.artist == i.id %}
                {{i.surname}} {{i.name}}
              {% endif %}
            {% endfor %}
          </p>
          <p>{{el.about}}</p>
        </div></a>
        {% endfor %}
      </div>
    </div>
  </main>

  <div class='footer'>
    <div><p>TryAngle &#169 All rights reserved</p></div>
    <div>
      <a href='/' title='Главная'>Главная</a>
      <a href='artists.html' title='Исполнители'>Исполнители</a>
      <a>Работы</a>
      <a href='requests.html' title='Заказы'>Заказы</a>
      {% if not authenticated %}
      <a href='login.html' title='Войти'>Войти</a>
      <a href='signup.html' title='Регистрация'>Регистрация</a>
      {% endif %}
      {% if authenticated %}
      <a href='profile.html' title='Профиль'>Профиль</a>
      <a href='logout.html' title='Выход'>Выход</a>
      {% endif %}
    </div>
  </div>
  </div>
  <script src='../static/scripts.js'></script>

</body>

</html>