<!DOCTYPE html>
<html lang='en-EN'>

<head>

  <title>Вход</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='../static/styles.css' rel='stylesheet'>
  <link href='../static/src/icon.png' rel='icon' type='image/x-icon'>

</head>

<body>

  <div class='wrapper'>
  <header>
      <h1>Вход</h1>
  </header>

  <nav>
      <a href='/' title='Главная'>Главная</a>
      <a href='artists.html' title='Исполнители'>Исполнители</a>
      <a href='completes.html' title='Работы'>Работы</a>
      <a href='requests.html' title='Заказы'>Заказы</a>
      <a>Войти</a>
      <a href='signup.html' title='Регистрация'>Регистрация</a>
  </nav>

  <main>
    <div class='ad'>
      <p class='close' onclick='hideAd()'>x</p>
      <h3>Посетите наши курсы</h3>
      <img src='../static/src/ad.png' alt='Курсы'>
      <p>Только сейчас они доступны совершенно бесплатно!</p>
      <a href='https://skillbox.ru/' title='Курсы'><p class='button'>Посетить</p></a>
    </div>
    <div class='up up_hide'>
      <p>^</p>
    </div>
    <div class='section last'>
      <div class='center'>
        <h2>Авторизация</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method='post'>
          <label for='email'>E-mail адрес:</label>
          <input id='email' type='email' name='email' />
          <label for='password'>Пароль:</label>
          <input id='password' type='password' name='password' />
          <div class='radios'>
            <input id='remember' type='checkbox' name=remember />
            <label for='remember'>Запомнить пользователя?</label>
          </div>
          <input type='submit' value='Войти' class='button_login'>
        </form>
      </div>
    </div>
  </main>

  <div class='footer'>
    <div><p>TryAngle &#169 All rights reserved</p></div>
    <div>
      <a href='/' title='Главная'>Главная</a>
      <a href='artists.html' title='Исполнители'>Исполнители</a>
      <a href='completes.html' title='Работы'>Работы</a>
      <a href='requests.html' title='Заказы'>Заказы</a>
      <a>Войти</a>
      <a href='signup.html' title='Регистрация'>Регистрация</a>
    </div>
  </div>
  </div>
  <script src='../static/scripts.js'></script>

</body>

</html>